@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.carousel-btn{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  background-color: white;
  border-radius: 50px;
  opacity: 0.9;
  padding: 10px;
}
.carousel-btn.right{
  right: 15px;
}
.carousel-btn.left{
  left: 15px;
}
.styles-module_item-container__a8zaY {
  cursor: default;
}